body {
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    background-color:#F9F9FA;
    font-family: 'Jost', sans-serif;
  }


   
  h1 {
    font-size: 20px;
    line-height: normal;
  }
 h2 {
    color: #DC9B3C;
  }
  nav {
    color: #888888;
    
  }
  
  aside {
    margin: 10px 0;
  
    color: #c4c4c4;
  }
  header {
    background-color: #DA8965;
    color: wheat;
    padding: 20px 0;
    
  }  

aside {
  margin: 20px 0;

  color: #c4c4c4;
}

.mai {
    display: inline;
    padding: 178px;
}

a {
    color: white;
    text-decoration: none;
     
}
.one {
    text-align: center;
    margin: 100px;
}
.two {
    margin: 100px;
    
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    margin-top:2cm;
    }
    th {
    font-size: 18px;
    padding: 20px;
    }
    td {
    background: #F5D7BF;
    padding: 20px;
    }

footer {
    background-color: #DA8965;
    color: white;
    padding: 1cm 5cm;
}
img{
    margin-top:1cm;
}
h3 {
    text-align: center;
    margin-top:2cm;
}